<h1>New Shelter</h1>
<%= render partial: '/partials/form', locals: { path: '/shelters',
                                      method: :post,
                                      second_value: :city,
                                      third_value: :foster_program,
                                      fourth_value: :rank
                                      } %>