<h1>Edit Veterinarian</h1>
<%= render partial: '/partials/form', locals: { path: "/pets/#{@pet.id}",
                                      method: :patch,
                                      second_value: :breed,
                                      third_value: :adoptable,
                                      fourth_value: :age
                                      } %>