<h1>New Pet</h1>
<%= render partial: '/partials/form', locals: { path: "/shelters/#{@shelter.id}/pets",
                                      method: :post,
                                      second_value: :breed,
                                      third_value: :adoptable,
                                      fourth_value: :age
                                      } %>
